# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# ipython
.ipynb_checkpoints/

# koala
koala-config.json

# pyenv
/venv
/active

# test
/data
/notebook
.tox

# ctags
/.tags*

# webassets
.webassets-cache/
assets/
.assets
html

# node
node_modules/
bower_components
/web/dist/*

# sass
.sass-cache/

# docs
/site
/docs/source
/docs/build

# virtualenv
venv
activate

# eclipse workspace config
.idea/
.project
.pydevproject

# settings
/options/settings/settings_local.py
/settings/settings.yml

# project
.vscode
tags
vendor
/go-ramjet
/main

# pprof
memory.pprof
cpu.pprof

__debug_bin*
examples/test.yml
diff.txt

.github/instructions/laisky.instructions.md
