// html {
//     overflow: hidden;
//     height: 100svh;
// }

body {
    width: 100vw;
    overflow-y: hidden;
    text-autospace: normal;
    // background-color: var(--background-color);

    #headerbar {
        padding: 0px;

        .bi.bi-coin {
            color: #ffc82c;
        }

        >.container-fluid {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            padding: 0px;

            .container-fluid.left {
                display: flex;
                justify-content: flex-start;

                .navbar-nav {
                    display: flex;
                    flex-direction: row;
                }
            }

            .navbar-nav {
                margin-bottom: 0 !important;

                // .dropdown-menu {
                //     position: absolute;
                // }

                a.dropdown-toggle.active {
                    -webkit-text-stroke: 1px #0063f6;
                }
            }

            ul.dropdown-menu {
                min-width: fit-content;
            }

            a[data-bs-toggle="offcanvas"] {
                border-style: none;
                background: none;
            }
        }
    }

    #hiddenChatConfigSideBar {
        #prompt-market .prompt-labels span {
            cursor: pointer;
            margin-right: 5px;
        }

        .offcanvas-header {
            padding-bottom: 0px;
        }

        .offcanvas-body {
            padding-top: 0px;

            .system-prompt .input {
                padding: 2px;
                min-height: 180px;
                font-size: 0.8em;
            }

            .dropdown-menu {
                min-width: inherit;
                padding: 0px;
            }

            .prompt-shortcuts {
                margin-bottom: 5px !important;

                span.badge {
                    margin-right: 5px;
                    cursor: pointer;
                    height: 22px;

                    .bi.bi-pencil-square {
                        margin-left: 5px;
                    }
                }
            }


            .input-group {
                margin-bottom: 5px !important;

                label {
                    margin-bottom: 0px;
                }

                label[for="configStaticContext"] {
                    width: 100%;
                }

                i.bi {
                    font-size: small;
                }

                .system-prompt {

                    .bi.save-prompt,
                    .bi.open-prompt-market {
                        cursor: pointer;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
