.modal.show .modal-content {
    z-index: 1100;
}

.modal#modal-dropfile {
    background-color: #b0edd0;
}

#singleInputModal,
#deleteCheckModal {
    z-index: 1500;
}


#offcanvasSession {
    padding: 0px;

    .offcanvas-body {
        padding: 0px;

        button {
            width: 100%;
            border-style: none;
        }

        #sessionManager.card {
            height: 100%;

            .card-header {
                padding: 0px;

            }

            .card-body {
                min-height: 300px;
                padding: 0px;

                .list-group {
                    border-radius: 0%;

                    .session {
                        display: flex;
                        // justify-content: space-between;
                    }
                }
            }

            .card-footer {
                padding: 0px;
            }
        }
    }
}



#chatContainer {
    .pinned-refs {
        z-index: 1000;
        background-color: #d1d1d1;
        position: absolute;
        left: 5px;
        top: 5px;
        max-width: 50%;
        overflow: hidden;
        text-align: left;

        p {
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 0px;
            text-wrap: nowrap;

            .bi-trash {
                cursor: pointer;
            }
        }
    }

    .chatManager {
        padding: 0px;
        padding-left: 0px;
        max-height: 100%;

        .card {
            height: 100%;
            flex-direction: column;
            position: relative;

            .alert {
                margin-bottom: 1px;
                z-index: 1099;
            }

            .conservations {
                padding: 0px;
                position: relative;
                min-height: 300px;
                overflow-y: scroll;
                display: flex;
                flex-direction: row;

                .row {
                    margin: 0px;
                    padding: 0px;

                    >* {
                        padding-left: 0px;
                        overflow-x: auto;
                    }
                }

                .sessions {
                    position: fixed;
                    height: 100%;
                    // background-color: #f4f4f4;
                    width: 44px;
                    border-right: #e2e3e5;
                    border-right-style: dashed;

                    button {
                        padding: 5px;
                        border: none;
                        border-radius: 0px;
                        border-bottom: 1px solid #a59d9d;
                    }
                }

                .chats {
                    margin-left: 44px;
                    padding: 0px;
                    width: 100%;
                    overflow-y: scroll;

                    img {
                        max-width: 90%;
                        max-height: 500px;
                        border-width: 5px 5px 5px 5px;
                        box-shadow: 1px 1px 5px #333;
                        -webkit-box-shadow: 1px 1px 5px #333;
                        -moz-box-shadow: 1px 1px 5px #333;
                        margin: 2px;
                    }

                    .icon {
                        width: 35px;
                        padding: 0px;
                    }

                    .role-human {
                        pre {
                            margin-bottom: 3px;
                            font-size: 0.9em;
                            white-space: pre-wrap;
                        }

                        .control {
                            // width: 50px;
                            margin-right: 5px;
                            flex-direction: row-reverse;

                            .bi-trash {
                                margin-right: 5px;
                            }

                            .bi-pencil-square,
                            .bi-trash {
                                cursor: pointer;
                            }
                        }
                    }

                    .role-ai {
                        margin-bottom: 5px;

                        .icon {
                            margin-top: 0.5em;
                        }

                        .ai-response {
                            .bi.bi-copy {
                                position: absolute;
                                right: 16px;
                                cursor: pointer;
                            }

                            p {
                                margin-bottom: 0.5em;
                                margin-top: 0.5em;
                            }
                        }
                    }

                    .card-body pre {
                        overflow-wrap: break-word;
                        white-space: pre-wrap;
                    }

                    .btn.reload {
                        max-width: 85px;
                        margin-bottom: 5px;
                    }
                }
            }

            .card-footer {
                position: relative;
                padding: 0px;

                .pinned-files {
                    z-index: 1000;
                    background-color: #d1d1d1;
                    position: fixed;
                    bottom: 85px;
                    left: 15px;
                    max-width: 50%;
                    overflow: hidden;
                    text-align: left;

                    p {
                        padding-left: 5px;
                        padding-right: 5px;
                        margin-bottom: 0px;
                        text-wrap: nowrap;

                        .bi-trash {
                            cursor: pointer;
                        }
                    }
                }

                .scroll-down {
                    position: fixed;
                    bottom: 101px;
                    right: 15px;
                    z-index: 1000;
                    font-size: larger;
                    cursor: pointer;
                }

                .input-group {
                    margin-bottom: 0px !important;

                    textarea {
                        height: 80px;
                    }
                }

                .input-group.chat-controller {
                    padding-left: 5px;
                    background-color: #f4f4f4;

                    i.bi {
                        color: #084196;
                    }

                    .form-check-reverse {
                        margin-bottom: 0px;

                        .form-check-input {
                            margin-right: 0px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }

    .code-toolbar {
        font-size: small;
    }
}

#modal-pdfchat {
    .modal-dialog {
        max-width: 85%;
        min-width: 600px;
    }

    .modal-body {

        .input-group,
        .mb-3 {
            margin-bottom: 3px !important;
        }
    }

    div[data-field="buttons"] .btn {
        border-radius: 0px;
    }

    div[data-field="dataset"] {
        border: 1px solid rgb(133, 124, 124);
        max-height: 600px;
        overflow: scroll;

        .row,
        .container-fluid {
            padding-left: 0px;
            padding-right: 0px;
        }

        label[for="flexSwitchCheckChecked"] {
            max-width: 130px;
            word-break: break-all;
        }

        .dataset-item .bi-trash {
            cursor: pointer;
        }
    }
}
