{{define "header"}}
<style>
    .modal.show .modal-content{
        z-index: 1100;
    }

    #singleInputModal, #deleteCheckModal {
        z-index: 1500;
    }

    #chatContainer .chatManager {
        padding: 0px;
    }

    #chatContainer .chatManager .alert {
        margin-bottom: 1px;
        z-index: 1099;
    }

    #chatContainer .chatManager .conservations {
        padding: 0px;
    }

    #chatContainer .chatManager .conservations .row {
        margin-right: 0px;
        padding-right: 0px;
    }

    /* #chatContainer .chatManager .conservations .role-human {
        margin-bottom: 5px;
    } */

    #chatContainer .chatManager .conservations .role-human pre {
        margin-bottom: 3px;
        font-size: 0.9em;
        white-space: pre-wrap;
    }

    #chatContainer .chatManager .conservations .role-human .bi-pencil-square,
    #chatContainer .chatManager .conservations .role-human .bi-trash {
        cursor: pointer;
    }

    #chatContainer .chatManager .conservations .role-ai {
        margin-bottom: 5px;
        /* border-bottom-style: dotted; */
    }

    #chatContainer .chatManager .conservations .card-body pre {
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }

    #chatContainer .chatManager .conservations .btn.reload {
        max-width: 85px;
        margin-bottom: 5px;
    }


    #chatContainer .code-toolbar {
        font-size: small;
    }

    #modal-pdfchat .modal-dialog {
        max-width: 85%;
        min-width: 600px;
    }
    #modal-pdfchat .modal-body .input-group,
    #modal-pdfchat .modal-body .mb-3 {
        margin-bottom: 3px !important;
    }

    #modal-pdfchat div[data-field="buttons"] .btn {
        border-radius: 0px;
    }
    #modal-pdfchat div[data-field="dataset"] {
        border: 1px solid rgb(133, 124, 124);
        max-height: 600px;
        overflow: scroll;
    }
    #modal-pdfchat div[data-field="dataset"] .row,
    #modal-pdfchat div[data-field="dataset"] .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    #modal-pdfchat div[data-field="dataset"] label[for="flexSwitchCheckChecked"] {
        max-width: 130px;
        word-break: break-all;
    }
    #modal-pdfchat div[data-field="dataset"] .dataset-item .bi-trash {
        cursor: pointer;
    }

</style>
{{end}}

{{define "body"}}
<div class="container-fluid" id="chatContainer">
    <div class="row" style="height: 100vh; padding-top: 48px;">
        <div class="col-2 d-none d-md-block sessionManager" style="padding: 0px;">
            <div class="card text-center" style="height: 100%;">
                <div class="card-header text-muted">
                    <button type="button" class="btn btn-outline-secondary new-session">New Session</button>
                </div>
                <div class="card-body sessions" style="min-height: 300px; padding: 0px;">
                    <!-- sessions are here -->
                </div>
                <div class="card-footer text-muted">
                    <button type="button" class="btn btn-secondary purge">Clear All</button>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-12 chatManager" style="padding-left: 0px; max-height: 100%;">
            <div class="card text-center" style="height: 100%; flex-direction: column;">
                <!-- <div class="alert alert-success alert-dismissible" role="alert">
                    <div>A simple success alert—check it out!</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> -->

                <div class="card-body conservations" style="min-height: 300px; overflow-y: scroll;">
                    <!-- chats is here -->

                    <!-- <div class="container-fluid row role-ai" style="background-color: #f4f4f4;">
                        <div class="row">
                            <div class="col-1">🤖️</div>
                            <div class="col-11 text-start" data-status="waiting">
                                <p class="card-text placeholder-glow">
                                    <span class="placeholder col-7"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-6"></span>
                                    <span class="placeholder col-8"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center justify-content-center">
                            <button class="btn btn-outline-secondary" type="button"><i class="bi bi-repeat"></i> Reload</button>
                        </div>
                    </div> -->

                </div>
                <div class="card-footer text-muted">
                    <div class="input-group mb-3" style="margin-bottom: 0px!important;">
                        <textarea class="form-control input prompt" placeholder="CTRL+Enter to send"
                            style="height: 80px"></textarea>
                        <button class="btn btn-outline-secondary send" type="button">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- some extra modals -->

<div class="modal" tabindex="-1" id="save-system-prompt">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Save System Prompt</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 prompt-name">
                    <label for="promptName" class="form-label">Name:</label>
                    <input type="text" class="form-control mb-3 title" placeholder="prompt name">
                    <textarea class="form-control user-input" rows="10"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary save">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="prompt-market">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add to shortcuts</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding: 5px;">
                <div class="row g-2">
                    <div class="col-10">
                        <input type="text" class="form-control mb-1 prompt-title" placeholder="prompt name">
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-primary save">Add</button>
                    </div>
                </div>


                <textarea class="mb-1 form-control prompt-content" rows="5" style="font-size: small;"></textarea>
                <div class="prompt-labels" style="max-height: 400px; overflow-y: scroll;">
                    <!-- fill prompts from datasource -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modal-pdfchat">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Private Knowledge Base</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding: 5px;">
                <form>
                    <div class="input-group mb-3" data-field="pdffile">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Upload New PDF</label>
                            <input class="form-control" type="file">
                        </div>
                    </div>
                    <div class="input-group mb-3" data-field="dataset-name">
                        <span class="input-group-text">Name</span>
                        <input type="text" class="form-control" placeholder="dataset name">
                    </div>
                    <div class="input-group mb-3" data-field="data-key">
                        <span class="input-group-text">Password</span>
                        <input type="text" class="form-control" placeholder="e2e encrypt data key">
                    </div>
                    <div class="input-group mb-3" data-field="buttons">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <button type="button" class="btn btn-outline-primary" data-fn="upload">Upload File</button>
                            <button type="button" class="btn btn-outline-primary" data-fn="refresh">List Dataset</button>

                            <div class="dropdown">
                                <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="true">ChatBot</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#" data-fn="build-bot">Build</a></li>
                                    <li><a class="dropdown-item" href="#" data-fn="share-bot">Share</a></li>
                                    <li><a class="dropdown-item" href="#" data-fn="list-bot">List</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div data-field="dataset">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{{end}}

{{define "mainjs"}}

{{end}}
