{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="icon" href="favicon.ico" />
    <link href="{{.BootstrapCss}}" rel="stylesheet" />
    <link rel="stylesheet" href="{{.BootstrapIcons}}">
    <link href="{{.PrismCss}}" rel="stylesheet" />
    <style>
        #hiddenChatConfigSideBar .input.static-prompt {
            min-height: 220px;
            font-size: smaller;
        }

        #hiddenChatConfigSideBar .input-group {
            margin-bottom: 0px !important;
            padding-top: 1px;
        }

        #hiddenChatConfigSideBar .input-group label[for="configStaticContext"] {
            width: 100%;
        }

        #hiddenChatConfigSideBar i.bi {
            font-size: small;
        }

        #hiddenChatConfigSideBar .prompt-shortcuts span.badge {
            margin-right: 5px;
            cursor: pointer;
        }

    </style>
    {{block "header" .}}
    {{end}}
</head>

<body>
    <nav class="fixed-top navbar navbar-expand-sm bg-light" id="headerbar" style="padding: 0px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">OpenAI</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Chat
                        </a>
                        <ul class="dropdown-menu chat-models">
                            <li><a class="dropdown-item" href="#" data-model="gpt-3.5-turbo">3.5-turbo</a></li>
                            <li><a class="dropdown-item disabled" href="#" data-model="gpt-4">gpt-4</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#" data-model="text-davinci-003">davinci-003</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Q&A
                        </a>
                        <ul class="dropdown-menu qa-models">
                            <!-- <li><a class="dropdown-item" href="#" data-model="qa-basebit">qa-basebit</a></li> -->
                        </ul>
                    </li>
                </ul>
            </div>

            <button type="button" data-bs-toggle="offcanvas" data-bs-target="#hiddenChatConfigSideBar"
                aria-controls="hiddenChatConfigSideBar">
                <span class="navbar-toggler-icon"></span>
            </button>


        </div>
    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="hiddenChatConfigSideBar"
        aria-labelledby="toggleChatConfigSidebarBtn">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="toggleChatConfigSidebarBtn">Configurations</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="input-group mb-3">
                <label for="token" class="form-label">token:</label>
                <div class="input-group mb-3 token-type" style="padding: 0px;">
                    <button class="btn btn-outline-secondary dropdown-toggle show-val" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">proxy</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-value="proxy" href="#">proxy</a></li>
                        <li><a class="dropdown-item disabled" data-value="direct" href="#">direct</a></li>
                    </ul>
                    <input type="text" class="form-control input api-token" value="DEFAULT_PROXY_TOKEN">
                </div>
            </div>
            <div class="mb-3 input-group contexts">
                <label for="configChatNContexts" class="form-label" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Sending how many recent contexts each time, may lead to AI repeating the answer to the recent question.">
                    contexts <i class="bi bi-info-circle"></i> - <span class="contexts-val"></span>
                </label>
                <input type="range" class="form-range input contexts" min="1" max="6" step="1" value="1">
            </div>
            <div class="mb-3 input-group max-token">
                <label for="configMaxTokens" class="form-label">
                    max tokens - <span class="max-token-val"></span>
                </label>
                <input type="range" class="form-range input max-token" min="1000" max="4000" step="100" value="500">
            </div>
            <div class="mb-3 input-group temperature">
                <label for="configTemperature" class="form-label">
                    temperature - <span class="temperature-val"></span>
                </label>
                <input type="range" class="form-range input temperature" min="0" max="2" step="0.1" value="1">
            </div>
            <div class="mb-3 input-group presence_penalty">
                <label for="configpresence_penalty" class="form-label">
                    presence_penalty - <span class="presence_penalty-val"></span>
                </label>
                <input type="range" class="form-range input presence_penalty" min="-2" max="2" step="0.1" value="0">
            </div>
            <div class="mb-3 input-group frequency_penalty">
                <label for="configfrequency_penalty" class="form-label">
                    frequency_penalty - <span class="frequency_penalty-val"></span>
                </label>
                <input type="range" class="form-range input frequency_penalty" min="-2" max="2" step="0.1" value="0">
            </div>
            <div class="mb-3 input-group">
                <label for="configStaticContext" class="form-label">
                    static prompt <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="This is a prompt on how AI should respond with limiting words, which helps AI provide better answers."></i>:
                    <span style="float: right;">
                        <i class="bi bi-bookmark-star"></i>
                        <i class="bi bi-search" disabled></i>
                    </span>
                </label>
                <textarea class="form-control input static-prompt" placeholder="something always send to AI"></textarea>
            </div>
            <div class="mb-3 prompt-shortcuts">

            </div>
            <button class="btn btn-primary submit">Save</button>
            <button class="btn btn-secondary reset">Reset</button>
        </div>
    </div>

    {{block "body" .}}
    {{end}}

    <script>
        window.Version = "{{.Version}}";
        window.data = JSON.parse({{.DataJS }});
    </script>

    <script defer src="{{.BootstrapJs}}"></script>
    <script defer src="{{.SeeJs}}"></script>
    <script defer src="{{.ShowdownJs}}"></script>
    <script defer src="{{.PrismJs}}"></script>
    <script defer src="{{.FuseJs}}"></script>
    <script defer src="/static/{{.LibJs}}"></script>
    <script defer src="/static/{{.SiteJs}}"></script>

    {{block "ga" .}}
    {{end}}

    {{block "mainjs" .}}
    {{end}}
</body>

</html>
{{end}}
