{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="icon" href="favicon.ico" />
    <link href="{{.BootstrapCss}}" rel="stylesheet" />
    {{block "header" .}}
    {{end}}
</head>

<body>
    <nav class="fixed-top navbar navbar-expand-lg bg-light" id="headerbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">OpenAI</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Chat
                        </a>
                        <ul class="dropdown-menu chat-models">
                            <li><a class="dropdown-item" href="#" data-model="gpt-3.5-turbo">3.5-turbo</a></li>
                            <li><a class="dropdown-item disabled" href="#" data-model="gpt-4">gpt-4</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Complete
                        </a>
                        <ul class="dropdown-menu chat-models">
                            <li><a class="dropdown-item" href="#" data-model="text-davinci-003">davinci-003</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <button type="button" data-bs-toggle="offcanvas" data-bs-target="#hiddenChatConfigSideBar"
                aria-controls="hiddenChatConfigSideBar">
                <span class="navbar-toggler-icon"></span>
            </button>


        </div>
    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="hiddenChatConfigSideBar"
        aria-labelledby="toggleChatConfigSidebarBtn">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="toggleChatConfigSidebarBtn">Configurations</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="mb-3">
                <label for="token" class="form-label">Token:</label>
                <div class="input-group mb-3 form-control token-type" style="padding: 0px;">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">HowTo Connect</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-value="proxy" href="#">Proxy</a></li>
                        <li><a class="dropdown-item disabled" data-value="direct" href="#">Direct</a></li>
                    </ul>
                    <input type="text" class="form-control input api-token" value="DEFAULT_PROXY_TOKEN">
                </div>
            </div>
            <div class="mb-3">
                <label for="configMaxTokens" class="form-label">Max Tokens:</label>
                <input type="number" class="form-control input max-token" max="4000" min="500" value="500">
            </div>
            <div class="mb-3">
                <label for="configStaticContext" class="form-label">Static Context:</label>
                <textarea class="form-control input static-config" placeholder="something always send to AI" style="height: 80px"></textarea>
            </div>
            <button class="btn btn-primary submit">Save</button>
            <button class="btn btn-secondary reset">Reset</button>
        </div>
    </div>

    {{block "body" .}}
    {{end}}


    <script async src="{{.BootstrapJs}}"></script>
    <script async src="{{.SeeJs}}"></script>
    <script async src="{{.ShowdownJs}}"></script>
    <script defer src="/static/{{.LibJs}}"></script>
    <script defer src="/static/{{.SiteJs}}"></script>
    <script>
        window.data = JSON.parse({{.DataJS}});
    </script>

    {{block "mainjs" .}}
    {{end}}
</body>

</html>
{{end}}
